<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
<body>

    <div layout:fragment="conteudo" class="form-signin w-50 m-auto">

        <form th:action="@{/lista}" method="get">
            <input type="text" name="nome" placeholder="Buscar por nome" th:value="${nome}" class="form-control"><br>
            <button type="submit" class="btn btn-primary w-100 py-2">Buscar</button><br><br>
            <a th:href="@{/lista}">Limpar</a>
        </form>
        <br>
        <table border="1" class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="aluno : ${alunos}">
                    <td th:text="${aluno.id}"></td>
                    <td th:text="${aluno.nome}"></td>
                    <td th:text="${aluno.curso}"></td>
                    <td>
                        <a th:href="@{'/editar/' + ${aluno.id}}">Editar</a> |
                        <a th:href="@{'/deletar/' + ${aluno.id}}" onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</body>
</html>